.navbar{
    color: aliceblue;
    border: 1px whitesmoke solid;
    background-color: rgba(0, 0, 255, 0.266);
    position:relative;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    text-align: left;
    font-size: 2rem;
    margin-left: 100px;
}

.nav-buttons{
        margin-top: 10px;
        margin-left: 590px;
        font-size: 1rem;
        padding-left: 50px;
        
}


a{
    margin-left: 10px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 1cm;

    padding: 5px
    
}