.videogame{
  border: 1px black solid;
  border-radius: 1cm;
  background-color: rgba(0, 0, 255, 0.266);
  margin: 20PX 100px 0 100px;

}
img{
    width: 100px;
    transition: 1s;
    margin-top: 20px;

}
img:hover{
    transform:scale(1.5);
}

.vsCom {
    position: relative;
    bottom: -10px;
    transition: bottom ease 1s;
  }
.vsCom:hover {
    bottom: -10px;
    transition: bottom ease 0.5s;
  }

.a {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 200px;
    text-align: center;
}

.b{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    
}
.yourOptions{
    display: flex;
}
.rivalOptions {
    display: flex;
    margin-left: auto;
    right: 0;
   
}


.images{
    display: flex;
    flex-direction: column;
    align-items: center;
     

}

.versus{
    display: flex;
    
}

.mid-container{
  margin-left: 4%;
  width: 400px;
  border: 1px solid black;
  text-align: center;
  
}

.winner{

    margin-top: 20px;
}
.btn-pa{

    margin-top: 330px;
}
.score{


}


  .container-play{

    
    background-color: transparent;
    margin-top: 300px;
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .container-flip{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }

  .play-selected-front, .play-selected-back {
    
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }


  .play-selected-back{
   text-align: center;
  }

  .text-back{
    margin-top: 80px;
  }


.container-play{

  }
.play-selected{
  text-align: center;
   margin-left: 10px;
  }

